<h3>Leave a comment</h3>
<form method="POST" action="https://api.staticman.net/v2/entry/quantum-aram/quantum-aram.github.io/master/comments">
  <input name="options[redirect]" type="hidden" value="{{ site.baseurl }}{{ site.url }}">
<input type="hidden" id="comment-parent" name="fields[replying_to]" value="">
  <input name="fields[slug]" type="hidden" value="{{ page.slug }}">
  <p><label><input name="fields[name]" type="text">Name</label></p>
  <p><label><input name="fields[url]" type="url">URL [optional]</label></p>
  <p><label><textarea name="fields[message]"></textarea>Comment</label></p>

  <button type="submit">Go!</button>
</form>
