{% assign comments = site.data.comments | where:'slug',page.slug %}
{% assign commentCount = comments | size %}

{% if commentCount > 0 %}

<h3>{{ commentCount }} Comment{% if commentCount > 1 %}s{% endif %}</h3>
</h3>
  {% for comment in comments %}
    <p>
      {% if comment.url != blank %}<a href="{{comment.url}}">{% endif %}
      <b>{{ comment.name }}</b>
      {% if comment.url != empty %}</a>{% endif %} &nbsp;
      <i>{{ comment.date | date: '%B %d, %Y' }}</i></p>
    <blockquote>
        {{comment.message}}
    </blockquote>

  {% endfor %}

{% endif %}
